.catalog-content {
    margin: 0 auto;
}

.catalog-content .categories-nav {
    height: 30px;
    background-color: #8C9EFF;
}

.catalog-content .categories-nav span {
    display: inline-block;
    height: 30px;
}

.catalog-content .categories-nav span a {
    display: table-cell;
    height: 30px;
    text-decoration: none;
    vertical-align: middle;
    color: #3F51B5;
    padding-left: 10px;
}

.catalog-content .categories-nav span a:hover {
    color: #E8EAF6
}

.catalog-content .subcategories-list {
    padding: 10px;
}

.catalog-content .subcategories-list span {
    background-color: #8C9EFF;
    display: inline-block;
    height: 30px;
    border-radius: 15px;
}

.catalog-content .subcategories-list span a {
    display: table-cell;
    height: 30px;
    text-decoration: none;
    vertical-align: middle;
    color: #3F51B5;
    padding: 0 10px;
}

.catalog-content .subcategories-list span:hover {
    background-color: #3F51B5;
}

.catalog-content .subcategories-list span:hover a {
    color: #E8EAF6;
}

.catalog-content .products-list {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-gap: 5%;
}

.catalog-content .products-list .product {
    width: 100%;
    background-color: #8C9EFF;
}

.catalog-content .products-list .product.name {
    display: block;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    background-color: #3F51B5;
    color: #E8EAF6;
}

.catalog-content .products-list .product.image {
    display: block;
    height: 180px;
    width: 100%;
    padding-left: 10px;
    background-color: #8C9EFF;
    color: #3F51B5;
}

.catalog-content .products-list .product.description {
    display: block;
    height: 90px;
    width: 100%;
    padding-left: 10px;
    background-color: #8C9EFF;
    color: #3F51B5;
}

.catalog-content .products-list .product.price {
    display: block;
    height: 30px;
    width: 100%;
    padding-left: 10px;
    background-color: #3F51B5;
    color: #E8EAF6;
}

.catalog-content .products-list .product.buy-controls {
    display: block;
    padding-left: 10px;
    height: 30px;
    width: 100%;
}

.catalog-content .products-list .product.buy-controls .wrapper {
    margin: 0 auto;
    padding-top: 5px;
    padding-bottom: 5px;
}

.catalog-content .products-list .product.buy-controls .buy-control {
    display: inline-block;
}

.catalog-content .products-list .product.buy-controls .buy-control.plus,
.catalog-content .products-list .product.buy-controls .buy-control.minus {
    height: 25px;
    width: 25px;
    border-radius: 25px;
    background-color: #3F51B5;
}

.catalog-content .products-list .product.buy-controls .buy-control.text {
    width: 30px;
}