<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Shop | Catalog</title>
    <link rel="stylesheet" href="/css/main.css" />
    <link rel="stylesheet" href="/css/catalog.css" />
    <link rel="stylesheet" href="/css/menu.css" />
    <link rel="stylesheet" href="/css/cart-widget.css" />
</head>
<body>
    <div class="main-wrapper">
        <div data-th-include="fragments/header" data-th-remove="tag"></div>
        <div data-th-include="fragments/menu" data-th-remove="tag"></div>
        <div data-th-include="fragments/cart_widget" data-th-remove="tag"></div>

        <div class="catalog-content">
            <div class="categories-nav">
                <span data-th-each="category: ${categoriesPath}">
                    <a data-th-href="@{'/catalog/' + ${category.id}}" data-th-text="${category.name} + ' > '"></a>
                </span>
            </div>
            <div class="subcategories-list">
                <span data-th-each="subCategory: ${subCategories}">
                    <a data-th-href="@{'/catalog/' + ${subCategory.id}}" data-th-text="${subCategory.name}"></a>
                </span>
            </div>
            <div class="products-list">
                <div class="product" data-th-each="product: ${products}">
                    <span class="product name">
                        <a data-th-href="@{'/product/' + ${product.id}}" data-th-text="${product.name}"></a>
                    </span>
                    <img class="product image" data-th-src="@{'/images/' + ${product.imageUrl}}" alt="" />
                    <span class="product price" data-th-text="${product.price}"></span>
                    <div class="product buy-controls">
                        <div class="wrapper"
                             data-th-attr="product-id=@{${product.id}},product-name=@{${product.name}},product-price=@{${product.price}}">
                            <button class="buy-control minus">-</button>
                            <input class="buy-control text" type="text" />
                            <button class="buy-control plus">+</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div data-th-include="fragments/footer" data-th-remove="tag"></div>
    </div>

    <script src="/js/jquery-3.2.1.min.js" />
    <script src="/js/cart-widget.js" />
    <script src="/js/catalog.js" />
</body>
</html>